.vs/
**/node_modules/
**/bin/
**/obj/
**/dist/
WGA-webGames/js/**
WGA-webGames/js/**/**.map
app.js
package-lock.json
.vs/WGA-solution/DesignTimeBuild/.dtbcache
.vs/WGA-solution/v15/.suo
.vs/WGA-solution/v15/Server/sqlite3/storage.ide-shm
